@{
}

@model Blog;

<div class="layui-col-md10 layui-col-md-offset1 layui-panel" style="padding:32px; min-height: 100%;height: 100%;">
    <div class="layui-row">
        <h2 id="title" class="layui-col-md12" style="text-align:center;margin:16px;">@Model.Title</h2>
    </div>
    <div class="layui-row" style="margin:16px;">
        <blockquote id="description" class="layui-elem-quote layui-quote-nm layui-col-md10 layui-col-md-offset1">
            @Model.Description
        </blockquote>
    </div>
    <div class="layui-row" style="margin:16px;">
        <div id="content" class="layui-col-md10 layui-col-md-offset1">
            @Model.Content
        </div>
    </div>
    <div class="layui-row" style="margin:16px;">
        <a id="classify" class="layui-font-blue" href="#">
            @Model.Classify.Name
        </a>
    </div>
    <div class="layui-row" style="margin:16px;">
        <p class="layui-col-md4">
            编写时间-@Model.CreateTime
        </p>
        <p class="layui-col-md4">
            最后更新时间-@Model.UpdateTime
        </p>
        <p class="layui-col-md4">
            浏览次数-@Model.ViewCount
        </p>
    </div>

    <div class="layui-row" style="margin:16px;">
        <label class="layui-col-md3">
            <input class="form-control" type="checkbox" asp-for="CopyRight" value="@Model.CopyRight" readonly /> @Html.DisplayNameFor(model => model.CopyRight)
        </label>
        <label class="layui-col-md3">
            <input class="form-control" type="checkbox" asp-for="IsComment" value="@Model.IsComment" readonly /> @Html.DisplayNameFor(model => model.IsComment)
        </label>
        <label class="layui-col-md3">
            <input class="form-control" type="checkbox" asp-for="IsPublish" value="@Model.IsPublish" readonly /> @Html.DisplayNameFor(model => model.IsPublish)
        </label>
        <label class="layui-col-md3">
            <input class="form-control" type="checkbox" asp-for="Donate" value="@Model.Donate" readonly/> @Html.DisplayNameFor(model => model.Donate)
        </label>
    </div>

    <div class="layui-row" style="margin:16px;">
        <a href="#" class="layui-btn layui-btn-primary layui-border-red">删除</a>
    </div>
</div>