@{

    Blog? blog = ViewData["BlogDetails"] as Blog;
    List<Comment>? comments = ViewData["CommentList"] as List<Comment>;
    string copyright = blog.CopyRight?"checked":"",
    isPublish = blog.IsPublish?"checked":"",
    isComment = blog.IsComment?"checked":"",
    donate = blog.Donate?"checked":"";
    ViewData["Title"] = blog.Title;
}

@model Comment;


<div class="layui-col-md8 layui-col-md-offset2 layui-panel " style="padding:32px; min-height: 100%;height: 100%;">
    <div class="layui-row">
        <h2 id="title" class="layui-col-md12" style="text-align:center;margin:16px;">@blog.Title</h2>
    </div>
    <div class="layui-row" style="margin:16px;">
        <blockquote id="description" class="layui-elem-quote layui-quote-nm layui-col-md10 layui-col-md-offset1">
            @blog.Description
        </blockquote>
    </div>
    <div class="layui-row markdown-body" data-theme="light" style="margin:16px;">
        <div id="blog-content" class="layui-col-md10 layui-col-md-offset1">
            @blog.Content
        </div>
        <div id="test-editor" style="display:none;">
                <textarea class="layui-textarea" style="height:50vh;">@blog.Content</textarea>
        </div>
    </div>
    <div class="layui-row" style="margin:16px;">
        <a id="classify"class="layui-font-blue" href="#">
            @blog.Classify.Name
        </a>
    </div>
    <div class="layui-row" style="margin:16px;">
        <p class="layui-col-md6">
            编写时间:@blog.CreateTime.ToString("yyyy年MM月dd日-hh:mm:ss")
        </p>
        <p class="layui-col-md6">
            最后更新时间:@blog.UpdateTime.ToString("yyyy年MM月dd日-hh:mm:ss")
        </p>
        <p class="layui-col-md4">
            浏览次数:@blog.ViewCount
        </p>
    </div>

@*     <div class="layui-row layui-form" style="margin:16px;">
        <input type="checkbox" lay-skin="switch" title="开启|关闭" @copyright disabled/> 版权
        <input type="checkbox" lay-skin="switch" title="开启|关闭" @isPublish disabled />发布
        <input type="checkbox" lay-skin="switch" title="开启|关闭" @isComment disabled />评论
        <input type="checkbox" lay-skin="switch" title="开启|关闭" @donate disabled />打赏
    </div> *@
</div>

<div class="layui-col-md8 layui-col-md-offset2 layui-panel glass-container" style="padding:32px;margin-bottom:16px;margin-top:16px; min-height: 100%;height: 100%;">
    <div class="layui-row " style="margin:16px;">
        <form method="post" asp-controller="Comment" asp-action="Create" class="layui-col-md12 layui-panel layui-form glass-item" style="margin:32px 0px;padding:32px;">
            <div class="layui-form-item" style="margin:16px;">
                <label class="">
                    <input class="layui-input" type="text" asp-for="User.Email" placeholder="@Html.DisplayNameFor(model => model.User.Email)" />
                </label>
                <span asp-validation-for="User.Email" class="layui-font-red"></span>
            </div>
            <div class="layui-form-item" style="margin:16px;">
                <label class="">
                    <input class="layui-input" type="text" asp-for="User.NickName" placeholder="@Html.DisplayNameFor(model => model.User.NickName)" />
                </label>
                <span asp-validation-for="User.NickName" class="layui-font-red"></span>
            </div>
            <div class="layui-form-item layui-hide" style="margin:16px;">
                <label class="">
                    <input name="BlogID" class="layui-input" type="text" asp-for="BlogID" value="@blog.BlogID" placeholder="@Html.DisplayNameFor(model => model.BlogID)" />
                </label>
                <span asp-validation-for="BlogID" class="layui-font-red"></span>
            </div>
            <div class="layui-form-item" style="margin:16px;">
                <textarea class="layui-textarea" asp-for="Content" placeholder="@Html.DisplayNameFor(model => model.Content)"></textarea>
                <span asp-validation-for="Content" class="layui-font-red"></span>
            </div>



            <div class="layui-row" style="margin:16px;">
                <input class="layui-btn layui-btn-primary  layui-btn-lg layui-border-blue" type="submit" value="评论" />
            </div>
        </form>
    </div>
    <div class="layui-row" style="margin:16px;">
        <div class="layui-col-md12" style="min-height: 100%;height: 100%;">
            @if (comments != null && comments.Count != 0)
            {
                @foreach (var item in comments)
                {
                    <div class="layui-panel glass-item" style="margin: 12px 0px;">
                        <div style="padding: 32px;">
                            @if (string.IsNullOrEmpty(item.User.NickName))
                            {
                                <h4>小黑:</h4>
                            }
                            else
                            {
                                <h4>@item.User.NickName:</h4>
                            }
                            <p>@item.Content</p>
                            <p class="layui-font-14">@item.CreateTime.ToString("yyyy年MM月dd日-hh:mm:ss")</p>
                        </div>
                    </div>
                }
            }
            else
            {
                <div class="layui-panel" style="margin: 32px 0px;">
                    <div style="padding: 32px;">
                        <p>期待你的评论</p>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/editor.md-master/editormd.min.js"></script>
<script type="text/javascript" defer>
    $(function () {
        var editor = editormd("test-editor", {
            width: "100%",
            height: "50vh",
            saveHTMLToTextarea: true,
            path: "/lib/editor.md-master/lib/",
            onload: function () {
                this.hide()
                $("#blog-content").html(this.getHTML())
            }
        });
    });
</script>