@model CyanBlog.Models.Message

@{
    ViewData["Title"] = "编辑留言";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="layui-col-md10 layui-col-md-offset1 layui-panel" style="padding:32px; min-height: 100%;height: 100%;">
    <form asp-action="Edit" method="post" class="layui-form">

        <div class="layui-form-item">
            <label class="">
                @Html.DisplayNameFor(model => model.Content)
                <div class="layui-form-item" id="test-editor">
                    <textarea class="layui-textarea" asp-for="Content" style="height:50vh;">@Model.Content</textarea>
                </div>
            </label>
            <span asp-validation-for="Content" class="layui-font-red"></span>
        </div>

        <div class="layui-form-item">
            <label class="">
                @Html.DisplayNameFor(model => model.CreateTime)
                <input class="layui-input" type="text" asp-for="CreateTime" value="@Model.CreateTime" readonly/>
            </label>
            <span asp-validation-for="CreateTime" class="layui-font-red"></span>
        </div>

        <div class="layui-form-item">
            <label class="">
                @Html.DisplayNameFor(model => model.UserId)
                <input class="layui-input" type="text" asp-for="UserId" value="@Model.UserId" />
            </label>
            <span asp-validation-for="UserId" class="layui-font-red"></span>
        </div>

        <div class="layui-form-item">
            <label class="">
                @Html.DisplayNameFor(model => model.ManagerId)
                <input class="layui-input" type="text" asp-for="ManagerId" value="@Model.ManagerId" />
            </label>
            <span asp-validation-for="ManagerId" class="layui-font-red"></span>
        </div>

        <div class="layui-form-item">
            <button type="submit" class="layui-btn layui-btn-primary layui-border-green" style="margin:16px 8px;">更新</button>
        </div>
    </form>

    <div>
        <a asp-action="ViewList">返回列表</a>
    </div>
</div>



